<nav class="navbar navbar-expand-lg navbar-default">
  <div class="d-flex flex-grow-1">
      <span class="w-100 d-lg-none d-block">
          <!-- hidden spacer to center brand on mobile -->
      </span>
      <a style="margin: 0 30px;" class="navbar-brand d-none d-lg-inline-block" routerLink="/">RealState</a>
  </div>
  <div *ngIf="this._auth.isUserLoggedIn; else navbarGuest" class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
      <ul class="navbar-nav ms-auto flex-nowrap">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/myProfile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="handleLogout()" >Logout</a>
        </li>
      </ul>
  </div>
  
  <ng-template #navbarGuest>
    <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
      <ul class="navbar-nav ms-auto flex-nowrap">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
      </ul>
    </div>
  </ng-template>
</nav>